@model MovieServer.Models.Movie

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}

<div>
    <h1>@Model.MovieTitle</h1>
    <h2>Movie Rating: @Model.MovieRating</h2>

    <h5>Description:</h5>
    <div>@Html.Raw(Model.DescriptionHtml)</div>

    @if(Model.Actors.Length > 0)
    {
        <h5>Actors/Actresses</h5>
        <div>
            <ul>
                @foreach (var actor in Model.Actors)
                {
                    <li>@actor.Character: @actor.Name</li>
                }
            </ul>
        </div>
    }
</div>
